#flights-page {
	position: relative;
	display: flex;
	flex-flow: column;
	flex: 1;
	width: 100%;
	gap: 1rem;
}

#flights-page-aircraft {
	display: flex;
	flex-flow: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

#flights-page-pagination {
	background: var(--color-blue);
	color: white;
	margin: 0 auto;
	padding: 4px 8px;
}

#flights-page-pagination:disabled {
	background: var(--color-dark-grey);
	color: var(--color-main-text);
	cursor: not-allowed;
}

#flights-page-pagination:hover:not(:disabled) {
	background: var(--color-hover);
}

#flights-page .live-tag {
	padding: 1px 4px;
}

#flights-page a,
#flights-aircraft a {
	color: var(--color-green);
	font-size: var(--font-size-normal);
}

#flights-page a:hover,
#flights-aircraft a:hover {
	color: var(--color-hover);
}

#map-wrapper {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: start;
	justify-content: left;
	padding: 4.5rem 1rem 2.5rem 1rem;
	gap: 1rem;
	background: var(--color-bg);
}

#map {
	position: absolute;
	inset: 0;
}

.flights-page-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.flights-page-buttons button {
	width: 100%;
	height: 24px;
	background-color: var(--color-green);
	display: flex;
	align-items: center;
	justify-content: center;
}

.flights-page-buttons button:hover:not(:disabled) {
	background-color: var(--color-hover);
	color: white;
}

.flights-page-buttons button:disabled {
	background: var(--color-dark-grey);
	color: var(--color-main-text);
	cursor: not-allowed;
}

.flights-page-buttons use {
	color: white;
}

#pilot-replay-panel {
	position: relative;
	display: flex;
	flex-flow: column;
	gap: 12px;
	background: var(--color-glass-bg);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
	width: 20rem;
	max-height: 100%;
}
