#flights-page {
	position: relative;
	display: flex;
	flex-flow: column;
	flex: 1;
	width: 100%;
	gap: 1rem;
}

#map-wrapper {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: start;
	justify-content: left;
	padding: 1rem;
	gap: 1rem;
}

#map {
	position: absolute;
	inset: 0;
}

.flights-page-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flights-page-buttons button {
	width: 100%;
	height: 100%;
	background-color: var(--color-green);
}

.flights-page-buttons use {
	color: white;
}

#pilot-replay-panel {
	position: relative;
	display: flex;
	flex-flow: column;
	gap: 12px;
	background: var(--color-glass-bg);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
	width: 20rem;
	max-height: 100%;
}

#replay-control {
	background: var(--color-glass-bg);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
	height: 24px;
	flex: 1;
	display: flex;
	align-items: center;
	gap: 8px;
}

.replay-button {
	height: 100%;
	background: var(--color-green);
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.replay-button use {
	color: white;
}

#replay-speed {
	width: 3rem;
}

#replay-close {
	background: var(--color-red);
}
