.overlay-wrapper {
	display: flex;
	flex-flow: column;
	gap: 0.2rem;
	position: relative;
	border: none;
	user-select: none;
}

.overlay-live {
	display: grid;
	gap: 2px;
	padding: 2px;
	background: var(--color-red);
}

.overlay-live.pilot {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
}

.overlay-live-item {
	display: flex;
	background-color: white;
	font-size: 12px;
	justify-content: space-between;
    align-items: center;
	padding: 0px 4px;
}

.overlay-live-item.controller {
    justify-content: initial;
}

.overlay-live-item span {
	font-weight: 700;
}

.overlay-controller-color {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.overlay-controller-callsign {
    font-weight: 700;
    margin-right: auto;
}

.overlay-controller-frequency {
    font-weight: 700;
}

.overlay-controller-connections {
    width: 25px;
    text-align: end;
}

.overlay-main-wrapper {
	display: flex;
	background: var(--color-red);
	height: 2.5rem;
	padding: 2px;
	box-sizing: border-box;
}

.overlay-main-wrapper::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid var(--color-red);
}

.overlay-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
    aspect-ratio: 1/1;
    background-color: white;
}

.overlay-icon.flag {
    padding: 0px 4px;
    box-sizing: border-box;
}

.overlay-icon p {
	font-weight: 800;
	font-size: 18px;
	line-height: 18px;
}

.overlay-title {
	display: flex;
	flex-flow: column;
    gap: 5px;
	margin-left: 5px;
	margin-right: 1rem;
}

.overlay-title p {
	color: white;
	font-weight: 700;
	line-height: 18px;
	font-size: 14px;
}

.overlay-title p:last-child {
	font-size: 10px;
	line-height: 10px;
	font-weight: 500;
}

.overlay-misc {
	display: flex;
	flex-flow: column;
    gap: 5px;
	height: 100%;
}

.overlay-misc div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 12px;
	padding: 2px 0px;
	width: 2.8rem;
}

.overlay-pilot-ac-type {
	background: var(--color-main-text);
	color: white;
	font-weight: 700;
}

.overlay-pilot-frequency {
	color: white;
}

.overlay-misc .overlay-airport-traffic {
    gap: 2px;
    height: 50%;
    overflow: hidden;
    width: fit-content;
    padding-right: 4px;
}

.overlay-airport-traffic p {
    color: white;
    width: 16px;
    text-align: end;
}

.overlay-airport-traffic svg {
    fill: white;
    width: 18px;
}