.popup {
	position: relative;
	background-color: var(--color-red);
	border: none;
	user-select: none;
}

.popup-content-anchor {
	width: 40px;
	height: 15px;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translate(-50%);
}

.popup.popup-tip::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--color-red);
}

.popup-content {
	padding: 0.3rem 0.4rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-width: 22rem;
}

.popup-content.side {
	padding-bottom: 0rem;
	gap: 0.3rem;
	width: 22rem;
}

.popup-content * {
	color: white;
}

.popup-content.flight {
	display: grid;
	grid-template-columns: 2rem auto auto;
	grid-template-rows: 2rem;
	justify-content: center;
	align-items: center;
}

.popup-content.airport {
	flex-direction: row;
}

.popup-content-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid var(--color-main-text);
}

.popup-content-logo p {
	font-weight: 800;
	font-size: 1rem;
}

.popup-content-logo img {
	box-sizing: border-box;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid var(--color-main-text);
}

.popup-content-main {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.popup-content-main.flight {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	align-items: center;
	gap: 0.2rem 0.625rem;
	margin-left: 0.3rem;
}

.popup-content-top.flight {
	display: flex;
	gap: 0.1rem;
	padding: 0.1rem;
	padding-bottom: 0rem;
}

.popup-content-vnav {
	display: flex;
	flex-direction: column;
	font-size: 0.625rem;
	line-height: 0.75rem;
	padding: 0rem 0.1rem;
	font-weight: 700;
	width: 100%;
	color: var(--color-main-text);
	background-color: white;
}

.popup-content-header {
	display: flex;
	align-items: center;
	font-size: 0.825rem;
	line-height: 0.825rem;
	font-weight: 700;
}

.popup-content-header.side {
	color: var(--color-main-text);
}

.popup-content-box {
	font-size: 0.625rem;
	line-height: 0.75rem;
	height: 0.75rem;
	padding: 0rem 0.1rem;
	font-weight: 700;
	color: var(--color-main-text);
	background-color: white;
}

.popup-content-box.ac {
	width: fit-content;
	margin-left: auto;
}

.popup-content-box.ac-fr {
	background-color: initial;
	color: white;
	padding-right: 0rem;
}

.popup-content-box.connections {
	margin-left: auto;
	margin-right: 0.5rem;
}

.popup-content-box.frequency {
	min-width: 2.5rem;
	text-align: center;
	background-color: var(--color-main-text);
	color: white;
}

.popup-content-box.logon {
	min-width: 2rem;
	text-align: end;
}

.popup-content-box.frequency.atis {
	background-color: var(--color-orange);
}

.popup-content-box.frequency.del {
	background-color: var(--color-light-blue);
}

.popup-content-box.frequency.gnd {
	background-color: var(--color-green);
}

.popup-content-box.frequency.twr {
	background-color: var(--color-red);
}

.popup-content-main p {
	display: flex;
	align-items: center;
	font-size: 0.625rem;
	line-height: 0.625rem;
	height: 0.625rem;
}

.popup-side-item {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 0.3rem;
	box-sizing: border-box;
	cursor: pointer;
}

.popup-side-item.active {
	background-color: var(--color-main-text);
}

.popup-side-item.active * {
	color: white;
	background-color: var(--color-main-text);
}

.popup-side-info {
	position: absolute;
	background: var(--color-red);
	width: 22rem;
	bottom: 100%;
	margin-bottom: 0.5rem;
	padding: 0.3rem 0.4rem;
	box-sizing: border-box;
}

.popup-side-info-text {
	display: flex;
	flex-flow: column;
	background: white;
	padding: 0.3rem;
	font-size: 0.75rem;
	gap: 0.4rem;
}

.popup-side-info-text {
	display: none;
	flex-flow: column;
	background: white;
	padding: 0.3rem;
	font-size: 0.75rem;
	gap: 0.4rem;
}

.popup-side-info-text.show {
	display: flex;
}

.popup-side-info-text p {
	border-left: solid 1px var(--color-main-text);
	padding-left: 0.3rem;
	font-size: 0.75rem;
	color: var(--color-main-text);
	overflow-wrap: break-word;
}

.popup-airport-info {
	padding-left: 0.5rem;
	margin-left: auto;
	display: grid;
	grid-template-columns: 0.75rem auto;
	grid-template-rows: 0.75rem 0.75rem;
	justify-content: center;
	align-items: center;
	font-size: 0.75rem;
	gap: 0.25rem 0.3rem;
}

.popup-airport-info-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-airport-info-n {
	text-align: end;
}
