#settings-panel {
	gap: 5px;
}

#reset-settings {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 12px;
}

.setting-item {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 5px 10px;
}

.setting-item.column {
	grid-template-columns: 1fr;
	gap: 8px;
}

.setting-item-title {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

.setting-item-desc {
	margin-top: 4px;
	grid-column: span 2;
	font-size: 12px;
	color: var(--color-light-text);
}

.tgl-switch {
	position: relative;
	display: inline-block;
	width: 38px;
	height: 20px;
}

.tgl-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.tgl-switch-slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background: var(--color-light-text);
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tgl-switch-slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	aspect-ratio: 1 / 1;
	left: 2px;
	top: 2px;
	background-color: white;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tgl-switch input:checked + .tgl-switch-slider {
	background: var(--color-green);
}

.tgl-switch input:focus + .tgl-switch-slider {
	box-shadow: 0 0 1px var(--color-dark-grey);
}

.tgl-switch input:checked + .tgl-switch-slider:before {
	transform: translateX(18px) rotate(90deg);
}

.sld-switch {
	display: flex;
	align-items: center;
}

.sld-switch input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 6px;
	background: linear-gradient(
		to right,
		var(--color-green) 0%,
		var(--color-green) calc(var(--value, 50) / var(--max, 100) * 100%),
		var(--color-light-text) calc(var(--value, 50) / var(--max, 100) * 100%),
		var(--color-light-text) 100%
	);
	outline: none;
	border-radius: 3px;
}

.sld-switch input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	background: var(--color-green);
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid white;
}

.sld-switch input[type="range"]::-moz-range-thumb {
	width: 14px;
	height: 14px;
	background: var(--color-green);
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid white;
}

.choose-switch {
	position: relative;
	display: grid;
	grid-template-columns: repeat(var(--count, 4), 1fr);
	align-items: center;
	background: var(--color-dark-grey);
	height: 20px;
	color: var(--color-light-text);
}

.choose-switch-thumb {
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% / var(--count, 4) - 4px);
	height: 16px;
	background: var(--color-green);
	border-radius: 2px;
	transition: transform 0.2s ease;
	transform: translateX(calc(var(--index, 0) * (100% + 4px)));
}

.choose-switch-option {
	color: inherit;
	font-size: 10px;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;
	z-index: 1;
}

.choose-switch-option:hover {
	color: var(--color-main-text);
}

.choose-switch-option[aria-pressed="true"] {
	color: white;
}
