#settings-panel {
	gap: 5px;
}

#reset-settings {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 12px;
}

.setting-item {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 5px 10px;
}

.setting-item.column {
	grid-template-columns: 1fr;
	gap: 8px;
}

.setting-item-title {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

.setting-item-desc {
	margin-top: 4px;
	grid-column: span 2;
	font-size: 12px;
	color: var(--color-light-text);
}
