*,
body,
html {
	margin: 0;
	padding: 0;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: var(--color-main-text);
	font-family: inherit;
}

:root {
	--color-main-text: rgb(77, 95, 131);
	--color-light-text: rgb(183, 190, 206);
	--color-light-grey: rgb(246, 248, 253);
	--color-dark-grey: rgb(223, 227, 235);
	--color-border: rgb(211, 214, 228);
	--color-box-shadow: rgb(193, 194, 202);
	--color-blue: rgb(60, 92, 255);
	--color-light-blue: rgb(60, 177, 255);
	--color-green: rgb(11, 211, 167);
	--color-red: rgb(234, 89, 121);
	--color-yellow: rgb(255, 244, 43);
	--color-orange: rgb(255, 138, 43);
	--color-magenta: rgb(222, 89, 234);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}
