*,
body,
html {
	margin: 0;
	padding: 0;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: var(--color-main-text);
	font-family: inherit;
}

body,
html {
	height: 100%;
	display: flex;
	flex-flow: column;
	background-color: var(--color-bg);
}

:root {
	--color-bg: white;
	--color-main-text: rgb(77, 95, 131);
	--color-light-text: rgb(183, 190, 206);
	--color-light-grey: rgb(246, 248, 253);
	--color-dark-grey: rgb(223, 227, 235);
	--color-border: rgb(211, 214, 228);
	--color-box-shadow: rgb(193, 194, 202);
	--color-blue: rgb(60, 92, 255);
	--color-light-blue: #3cb1ff;
	--color-green: #0bd3a7;
	--color-red: #ea5979;
	--color-yellow: rgb(255, 244, 43);
	--color-orange: #ff8a2b;
	--color-magenta: rgb(222, 89, 234);
	--color-glass-bg: rgba(255, 255, 255, 0.5);
	--color-hover: rgb(77, 95, 131);
	--box-shadow: 1px 1px 5px 1px var(--color-box-shadow);
}

[data-theme="dark"] {
	--color-bg: rgb(21, 27, 39);
	--color-main-text: rgb(221, 225, 235);
	--color-dark-grey: rgb(46, 52, 66);
	--color-light-grey: rgb(46, 52, 66);
	--color-border: rgb(113, 121, 153);
	--color-box-shadow: rgb(59, 61, 70);
	--color-glass-bg: rgba(80, 80, 80, 0.3);
	--color-hover: rgb(105, 124, 165);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

section {
	padding: 5.5rem 2rem 3.5rem 2rem;
	flex: 1;
}
