#map-controls {
    position: absolute;
    right: 1rem;
    top: 4.5rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
    padding: .5rem;
}

.map-control-item {
    width: 2rem;
    height: 2rem;
    background: white;
    box-shadow: 1px 1px 5px 1px var(--color-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-control-item:hover {
    background: var(--color-main-text);
    color: white;
}