#map-controls {
	position: absolute;
	right: 1rem;
	top: 4.5rem;
	display: flex;
	flex-flow: column;
	gap: 1rem;
	background: var(--color-glass-bg);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
	padding: 0.5rem;
	z-index: 1;
}

.map-control-item {
	width: 2rem;
	height: 2rem;
	background: var(--color-bg);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: center;
}

.map-control-item:hover {
	background: var(--color-hover);
}

.map-control-item:hover use {
	color: white;
}
