:root {
	--toastify-color-light: var(--color-blue);
	--toastify-color-dark: var(--color-blue);
	--toastify-color-info: var(--color-blue);
	--toastify-color-success: var(--color-green);
	--toastify-color-warning: var(--color-orange);
	--toastify-color-error: var(--color-red);
	--toastify-color-transparent: rgba(255, 255, 255, 0.7);

	--toastify-icon-color-info: white;
	--toastify-icon-color-success: white;
	--toastify-icon-color-warning: white;
	--toastify-icon-color-error: white;

	--toastify-toast-top: 4.5rem;
	--toastify-toast-right: 1rem;
	--toastify-toast-padding: 0.5rem;
	--toastify-toast-min-height: inhert;
	--toastify-toast-bd-radius: 0px;
	--toastify-toast-shadow: var(--box-shadow);
	--toastify-font-family: inherit;
	--toastify-text-color-light: var(--color-light-text);
	--toastify-text-color-dark: var(--color-main-text);

	--toastify-color-progress-light: white;
	--toastify-color-progress-dark: white;
	--toastify-color-progress-info: white;
	--toastify-color-progress-success: white;
	--toastify-color-progress-warning: white;
	--toastify-color-progress-error: white;
}

.message-box * {
	color: white;
	margin-bottom: 4px;
}

.message-box p:first-child {
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
}

.message-box p:last-child {
	font-size: var(--font-size-small);
}

.message-close {
	position: absolute;
	top: 0rem;
	right: 0rem;
	background-color: var(--color-red);
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.25rem;
	margin-left: auto;
}

.message-close svg {
	fill: white;
}

.message-close:hover {
	background-color: white;
}

.message-close:hover svg {
	fill: var(--color-red);
}
