#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9998;
}

#loader {
	background: var(--color-blue);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	box-shadow: 0 0 10px rgb(156, 156, 167);
	border: 1px solid var(--color-border);
	padding: 2rem;
	gap: 1rem;
}

#loader * {
	color: white;
}

#loader-title {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

#loader-items {
	display: flex;
	flex-flow: column;
	gap: 1rem;
}

.loader-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.loader-spinner {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	background-color: var(--color-main-text);
	border-radius: 50%;
	border: 1px solid var(--color-border);
}
.loader-spinner.done {
	background-color: var(--color-green);
}
.loader-spinner.done::after,
.loader-spinner.done::before {
	background: none;
}
.loader-spinner::after,
.loader-spinner::before {
	content: "";
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--color-yellow);
	position: absolute;
	left: 0;
	top: 0;
	animation: animloader 0.5s linear infinite;
}

@keyframes animloader {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
