#header-search-wrapper {
	background-color: var(--color-bg);
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 10px;
	border: 1px solid var(--color-border);
	margin-left: auto;
	width: 18rem;
	position: relative;
	gap: 10px;
}

#header-search {
	border: none;
	height: 100%;
	box-sizing: border-box;
	background-color: transparent;
	color: var(--color-light-text);
	outline: none;
	width: 100%;
	font-size: var(--font-size-normal);
	transform: translateY(1px);
}

#header-search::placeholder {
	color: var(--color-light-text);
}

#header-search-clear {
	height: 16px;
	width: 16px;
}

#header-search-clear use {
	color: var(--color-main-text);
}

#header-search-clear:hover use {
	color: var(--color-red);
}

#header-search-results {
	position: absolute;
	top: 36px;
	max-height: 500px;
	overflow-y: auto;
	background-color: var(--color-bg);
	border: 1px solid var(--color-border);
	box-shadow: var(--box-shadow);
	z-index: 9999;
	width: 100%;
}

#header-search-placeholder {
	display: flex;
	flex-flow: column;
	gap: 10px;
	padding: 4px;
	font-size: var(--font-size-normal);
}

.header-search-separator {
	background-color: var(--color-dark-grey);
	padding: 4px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: var(--font-size-small);
}

.search-history-item {
	display: flex;
	gap: 6px;
	padding: 4px;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	align-items: center;
	font-size: var(--font-size-normal);
	line-height: var(--font-size-normal);
}

.search-item {
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: 1fr auto;
	gap: 0px 6px;
	padding: 4px;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	color: var(--color-main-text);
}

.search-item:hover,
.search-history-item:hover {
	background-color: var(--color-hover);
}

.search-extra {
	font-size: var(--font-size-small);
	grid-area: 2 / 1 / 3 / 3;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 4px;
	margin-top: 4px;
}

.search-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	aspect-ratio: 1 / 1;
	background-color: var(--color-bg);
	border: 1px solid var(--color-border);
	box-sizing: border-box;
}

.search-icon p,
.search-icon span {
	font-weight: var(--font-weight-bold);
	font-size: 1.2rem;
}

.search-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding: 2px 0;
	flex: 1 1 0%;
	overflow: hidden;
}

.search-info.pilot {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 4px;
}

.search-title {
	font-size: var(--font-size-normal);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-align: left;
}

.search-tags {
	display: flex;
	gap: 6px;
	font-size: var(--font-size-small);
	align-items: center;
}

.search-tags span {
	color: white;
}

.search-tags span.bg {
	padding: 0px 2px;
}
