#policy {
	display: flex;
	flex-flow: column;
	gap: 2rem;
}

.policy-item {
	display: flex;
	flex-flow: column;
	background: var(--color-dark-grey);
	padding: 1rem;
	border: 1px solid var(--color-border);
	gap: 10px;
}

#policy p,
#policy ul li {
	font-size: 12px;
}

#policy-legal p {
	font-size: 14px;
}

#policy a {
	text-decoration: underline;
	color: var(--color-green);
}

#policy ul {
	padding-left: 20px;
	list-style-type: disc;
}
