#replay-control {
	background: var(--color-glass-bg);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
	height: 32px;
	flex: 1;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px;
	box-sizing: border-box;
}

.replay-button {
	height: 100%;
	background: var(--color-green);
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	z-index: 1;
}

.replay-button:hover {
	background-color: var(--color-hover);
	color: white;
}

.replay-button.active {
	background: var(--color-blue);
}

.replay-button use {
	color: white;
}

#replay-close {
	background: var(--color-red);
}

#replay-close:hover {
	background-color: white;
}

#replay-close:hover use {
	color: var(--color-red);
}

#replay-info {
	background: var(--color-blue);
	color: white;
	white-space: nowrap;
	font-size: var(--font-size-small);
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 4px;
}
