#panel-airport-status {
	flex-flow: column;
	gap: 0.5rem;
}
#panel-airport-status-weather,
#panel-airport-status-flights {
	display: flex;
	border-radius: 0.5rem;
	background: var(--color-light-grey);
	border: 1px solid var(--color-border);
	padding: 4px 0rem;
	width: 100%;
}

#panel-airport-status-flights {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.panel-airport-status-item {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 12px;
}

.panel-airport-status-item p:first-child {
	font-weight: 700;
}

.panel-airport-status-item p:last-child {
	padding: 0px 2px;
}

.panel-airport-status-item p.green {
	background: var(--color-green);
	color: white;
}

.panel-airport-status-item p.yellow {
	background: var(--color-yellow);
}

.panel-airport-status-item p.red {
	background: var(--color-red);
	color: white;
}

#panel-airport-weather {
	grid-template-columns: repeat(3, 1fr);
}

#panel-airport-weather .panel-data-item:nth-last-child(-n + 3) {
	grid-column: 1 / -1;
}

.panel-sub-container .airport-connections {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.panel-sub-container.airport-connections .panel-data-item:nth-child(-n + 3) {
	grid-column: span 2;
}

.panel-sub-container.airport-connections .panel-data-item:nth-child(n + 4) {
	grid-column: span 3;
}

#panel-airport-connections p.green {
	background: var(--color-green);
	color: white;
	width: fit-content;
	padding: 0px 2px;
}

#panel-airport-connections p.yellow {
	background: var(--color-yellow);
	width: fit-content;
	padding: 0px 2px;
}

#panel-airport-connections p.red {
	background: var(--color-red);
	color: white;
	width: fit-content;
	padding: 0px 2px;
}

#panel-airport-flights {
	background: var(--color-light-grey);
	position: relative;
}

#panel-airport-flights-list {
	display: flex;
	flex-flow: column;
	gap: 4px;
}

.panel-airport-flights-item {
	display: flex;
	background: white;
	border-top: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
	gap: 4px;
}

.panel-airport-flights-item:hover {
	background: var(--color-main-text);
}

.panel-airport-flights-item:hover * {
	color: white;
}

.panel-airport-flights-delay {
	min-height: 100%;
	width: 4px;
}

.panel-airport-flights-delay.green {
	background: var(--color-green);
}

.panel-airport-flights-delay.yellow {
	background: var(--color-yellow);
}

.panel-airport-flights-delay.red {
	background: var(--color-red);
}

.panel-airport-flights-times {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 60px;
}

.panel-airport-flights-times p {
	text-align: center;
}

.panel-airport-flights-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	aspect-ratio: 1 / 1;
	background-color: white;
	border: 1px solid var(--color-border);
	box-sizing: border-box;
	margin: 2px 0px;
}

.panel-airport-flights-icon p {
	font-weight: 800;
}

.panel-airport-flights-main {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: repeat(2, 1fr);
	width: 100%;
	gap: 0px 20px;
	padding: 2px 0px;
	padding-right: 4px;
}

.panel-airport-flights-main p {
	display: flex;
	align-items: center;
}

.panel-airport-flights-main p:first-child {
	display: block;
	text-align: start;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
}

.panel-airport-flights-main p:nth-child(2n) {
	justify-content: end;
	font-size: 12px;
}
