#active-filters {
	position: absolute;
	left: 1rem;
	bottom: 2.5rem;
	width: 20rem;
	height: 24px;
	display: flex;
	align-items: center;
	gap: 8px;
	background: var(--color-bg);
	color: var(--color-light-text);
	border: 1px solid var(--color-border);
	box-shadow: var(--box-shadow);
	z-index: 1;
	font-size: var(--font-size-normal);
}

#active-filters::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 10px;
	background: linear-gradient(to left, var(--color-bg), transparent);
}

#active-filters-icon {
	background-color: var(--color-green);
	width: 24px;
	height: 24px;
}

#active-filters-icon use {
	color: var(--color-bg);
}

#active-filters-count {
	flex-shrink: 0;
}

#active-filters-selected {
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: 4px;
}

#active-filters-selected p {
	white-space: nowrap;
	background-color: var(--color-green);
	color: white;
	padding: 2px 4px;
	border-radius: 2px;
	font-size: var(--font-size-small);
}
