#map-controls-upper {
	position: absolute;
	right: 1rem;
	top: 4rem;
	display: flex;
	gap: 5px;
	z-index: 1;
}

#map-controls {
	position: absolute;
	right: 1rem;
	top: 6.5rem;
	z-index: 1;
	display: flex;
	flex-flow: column;
	gap: 5px;
	background: var(--color-glass-bg);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
}

#map-controls.hidden {
	display: none;
}

.map-control-item {
	height: 2rem;
	min-width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-main-text);
}

.map-control-item use {
	color: var(--color-main-text);
}

.map-control-item:hover {
	background: var(--color-hover);
}

.map-control-item:hover use {
	color: white;
}

.map-control-item.active {
	background: var(--color-green);
}

.map-control-item.active use {
	color: white;
}
