.panel {
	position: absolute;
	left: 1rem;
	top: 4.5rem;
	width: 20rem;
	max-height: calc(100% - 7rem);
	display: flex;
	flex-flow: column;
	transition: ease left 0.3s;
	background: var(--color-glass-bg);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-border);
	gap: 12px;
	z-index: 1;
}

.panel.hide {
	left: -20rem;
}

.panel-container {
	display: flex;
	background-color: var(--color-bg);
	padding: 0.5rem;
	box-sizing: border-box;
	box-shadow: var(--box-shadow);
	overflow-x: hidden;
	flex-shrink: 0;
}

.panel-header {
	display: flex;
	align-items: center;
}

.panel-id {
	background-color: var(--color-blue);
	color: white;
	font-size: 1rem;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0rem 0.5rem;
	font-weight: var(--font-weight-bold);
}

.panel-close {
	background-color: var(--color-red);
	width: 1.5rem;
	height: 1.5rem;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.panel-close use {
	color: white;
}

.panel-close:hover {
	background-color: white;
}

.panel-close:hover use {
	color: var(--color-red);
}

.panel-container.title-section {
	display: flex;
	padding: 0rem;
	min-height: 58px;
}

.panel-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	aspect-ratio: 1 / 1;
	background-color: var(--color-bg);
	margin: 4px;
	margin-right: 0px;
	border: 1px solid var(--color-border);
	box-sizing: border-box;
}

.panel-icon p,
.panel-icon span {
	font-weight: var(--font-weight-bold);
	font-size: 1.5rem;
	line-height: 1.5rem;
}

.panel-title {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 8px 4px;
	margin-left: 4px;
	overflow: hidden;
}

.panel-title p {
	font-weight: var(--font-weight-bold);
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.panel-desc-items {
	display: flex;
	gap: 10px;
}

.panel-desc-item {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-bold);
}

.panel-desc-item.r {
	background-color: var(--color-red);
	color: white;
	padding: 0px 4px;
}

.panel-desc-item.g {
	background-color: var(--color-green);
	color: white;
	padding: 0px 4px;
}

.panel-container.main {
	padding: 0rem;
	flex-flow: column;
	flex: 1;
	min-height: 0;
}

.panel-container-header {
	background-color: var(--color-blue);
	display: flex;
	padding: 10px;
	height: 2rem;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
}

.panel-container-header p {
	color: white;
}

.panel-container-header use {
	color: white;
}

.panel-container-header:hover {
	background-color: white;
}

.panel-container-header:hover * {
	color: var(--color-blue);
	fill: var(--color-blue);
}

.panel-container-header svg {
	margin-left: auto;
	transition: transform 0.2s ease;
}

.panel-container-header.open svg {
	transform: rotate(180deg);
}

.panel-sub-container {
	display: flex;
}

.panel-sub-container.sep {
	border-top: 1px solid var(--color-border);
}

.accordion {
	overflow: hidden;
	height: 0rem;
	transition: ease 0.2s min-height;
	flex-shrink: 0;
	min-height: 0px;
}

.panel-section-title use {
	color: var(--color-main-text);
}

.panel-section-title {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-light-grey);
	border-right: 1px solid var(--color-border);
	min-width: 2rem;
}

.panel-section-content {
	display: grid;
	width: 100%;
}

.panel-data-separator {
	background-color: var(--color-dark-grey);
	padding: 4px;
	font-size: var(--font-size-small);
	line-height: var(--font-size-small);
	text-transform: uppercase;
}

.panel-data-item {
	padding: 4px;
	display: flex;
	flex-flow: column;
}

.panel-data-item p {
	font-size: var(--font-size-small);
	position: relative;
}

.panel-data-item p:first-child {
	font-weight: 500;
	text-transform: uppercase;
}

.panel-navigation {
	display: flex;
	background-color: var(--color-bg);
	box-shadow: 1px 1px 5px 1px var(--color-box-shadow);
}

.panel-navigation-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
}

.panel-navigation-button p {
	height: 0rem;
	opacity: 0;
	overflow: hidden;
	transition:
		ease 0.2s height,
		opacity;
	display: flex;
	align-items: flex-end;
}

.panel-navigation:hover .panel-navigation-button p {
	height: 1.5rem;
	opacity: 1;
}

.panel-navigation-button use {
	color: var(--color-main-text);
}

.panel-navigation-button:hover {
	background-color: var(--color-hover);
}

.panel-navigation-button.active {
	background-color: var(--color-green);
}

.panel-navigation-button:hover use,
.panel-navigation-button.active use {
	color: white;
}

.panel-navigation-button:hover p,
.panel-navigation-button.active p {
	color: white;
}
