.panel-container.dashboard {
	padding: 0rem;
	flex-flow: column;
}

#panel-dashboard-stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

#panel-dashboard-busiest {
	flex-flow: column;
}

#dashboard-stats-navigation {
	position: relative;
	display: flex;
	background: var(--color-dark-grey);
	margin: 5px;
	border-radius: 2px;
}

#dashboard-stats-navigation button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	width: 100%;
	margin: 2px;
	border-radius: 2px;
}

#dashboard-stats-navigation button.active,
#dashboard-stats-navigation button:hover {
	background: var(--color-green);
	color: white;
}

.dashboard-table {
	display: grid;
	grid-template-columns: 2rem repeat(2, 1fr);
	font-size: 12px;
	padding: 0px 5px;
}

.dashboard-table.airport {
	grid-template-columns: 2rem repeat(3, 1fr);
}

.dashboard-table-button {
	text-align: start;
    width: fit-content;
    font-size: 12px;
}

.dashboard-table-button:hover {
	background: var(--color-main-text);
    color: white;
}

.dashboard-table-header {
	font-weight: 700;
}

.panel-sub-container.events {
	flex-flow: column;
}

#panel-dashboard-events {
	min-height: 0;
}

.dashboard-event-item {
	display: flex;
}

.dashboard-event-item {
	display: flex;
	flex-flow: column;
	padding: 2px 5px;
}

.dashboard-event-item:hover {
	background: var(--color-main-text);
}

.dashboard-event-item:hover * {
	color: white;
}

.dashboard-event-item p {
	font-size: 11px;
}

.dashboard-event-item .dashboard-event-title {
	font-weight: 700;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}
