header {
	position: absolute;
	left: 0rem;
	right: 0rem;
	top: 0rem;
	height: 3.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 1rem;
	box-sizing: border-box;
	gap: 1rem;
	background: linear-gradient(
		180deg,
		rgba(77, 95, 131, 0.4) 0%,
		rgba(77, 95, 131, 0) 120%
	);
	border-bottom: 1px solid var(--color-border);
	z-index: 1;
}

#header-logo {
	position: absolute;
	top: 0rem;
	left: 1rem;
	height: 100%;
	width: 20rem;
	box-sizing: border-box;
	background-color: var(--color-blue);
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-logo img {
	height: 75%;
	width: auto;
}

.header-item {
	background-color: white;
	border: 1px solid var(--color-border);
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 1rem;
	box-sizing: border-box;
}

#header-clock {
	color: var(--color-main-text);
}

#header-clock span {
	font-size: 0.625rem;
	margin-left: 0.25rem;
	color: var(--color-light-text);
}

#header-search {
	line-height: 2rem;
	border: none;
	width: 17rem;
	height: 2rem;
	box-sizing: border-box;
	background-color: transparent;
	color: var(--color-light-text);
	outline: none;
}

#header-search::placeholder {
	color: var(--color-light-text);
}
