header {
	position: fixed;
	left: 0rem;
	right: 0rem;
	top: 0rem;
	height: 3.5rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	box-sizing: border-box;
	gap: 10px;
	background: linear-gradient(180deg, rgba(77, 95, 131, 0.4) 0%, rgba(77, 95, 131, 0) 120%);
	border-bottom: 1px solid var(--color-border);
	z-index: 1;
}

#header-logo {
	height: 100%;
	width: 20rem;
	box-sizing: border-box;
	background-color: var(--color-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
}

#header-theme {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	z-index: 5;
	rotate: 90deg;
	transition: rotate 0.3s ease;
}

#header-theme.dark {
	background-color: rgb(21, 27, 39);
	rotate: 0deg;
}

#header-theme.dark use {
	color: white;
}

#header-theme.light {
	background-color: white;
}

#header-theme.light use {
	color: rgb(21, 27, 39);
}

#header-user {
	position: relative;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background: white;
	color: var(--color-green);
	font-weight: 700;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header-user span {
	position: absolute;
	right: 0rem;
	bottom: 0rem;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: rgb(150, 150, 150);
	border: 1px solid white;
}

#header-user use {
	color: rgb(21, 27, 39);
}

#header-nav {
	z-index: 5;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-nav use {
	color: white;
}

#header-nav:hover use {
	color: var(--color-green);
}

#header-search-wrapper {
	background-color: var(--color-bg);
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 10px;
	border: 1px solid var(--color-border);
	margin-left: auto;
	width: 18rem;
	position: relative;
	gap: 10px;
}

#header-search {
	border: none;
	height: 100%;
	box-sizing: border-box;
	background-color: transparent;
	color: var(--color-light-text);
	outline: none;
	width: 100%;
	font-size: var(--font-size-normal);
	transform: translateY(1px);
}

#header-search::placeholder {
	color: var(--color-light-text);
}

#header-search-clear {
	height: 16px;
	width: 16px;
}

#header-search-clear:hover use {
	color: var(--color-red);
}

#header-search-results {
	position: absolute;
	top: 36px;
	max-height: 500px;
	overflow-y: auto;
	background-color: var(--color-bg);
	border: 1px solid var(--color-border);
	box-shadow: var(--box-shadow);
	z-index: 9999;
	width: 100%;
}

#header-search-placeholder {
	display: flex;
	flex-flow: column;
	gap: 10px;
	padding: 4px;
	font-size: var(--font-size-normal);
}

.header-search-separator {
	background-color: var(--color-dark-grey);
	padding: 4px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: var(--font-size-small);
}

.search-item {
	display: flex;
	gap: 6px;
	padding: 4px;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

.search-item:hover {
	background-color: var(--color-hover);
}

.search-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	aspect-ratio: 1 / 1;
	background-color: var(--color-bg);
	border: 1px solid var(--color-border);
	box-sizing: border-box;
}

.search-icon p,
.search-icon span {
	font-weight: var(--font-weight-bold);
	font-size: 1.2rem;
}

.search-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding: 2px 0;
	flex: 1 1 0%;
	overflow: hidden;
}

.search-info.pilot {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 4px;
}

.search-title {
	font-size: var(--font-size-normal);
	font-weight: var(--font-weight-bold);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-align: left;
}

.search-tags {
	display: flex;
	gap: 6px;
	font-size: var(--font-size-small);
	align-items: center;
}

.search-tags span {
	color: white;
}

.search-tags span.bg {
	padding: 0px 2px;
}
