header {
	position: fixed;
	left: 0rem;
	right: 0rem;
	top: 0rem;
	height: 3.5rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	box-sizing: border-box;
	gap: 1rem;
	background: linear-gradient(180deg, rgba(77, 95, 131, 0.4) 0%, rgba(77, 95, 131, 0) 120%);
	border-bottom: 1px solid var(--color-border);
	z-index: 1;
}

#header-logo {
	height: 100%;
	width: 20rem;
	box-sizing: border-box;
	background-color: var(--color-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
}

#header-search-wrapper {
	background-color: var(--color-bg);
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 1rem;
	border: 1px solid var(--color-border);
	margin-left: auto;
}

#header-search {
	border: none;
	width: 15rem;
	height: 100%;
	box-sizing: border-box;
	background-color: transparent;
	color: var(--color-light-text);
	outline: none;
}

#header-search::placeholder {
	color: var(--color-light-text);
}

#header-vatsim-login {
	height: 2rem;
	background: var(--color-blue);
	color: white;
	padding: 0rem 1rem;
}

#header-vatsim-login:hover {
	background: var(--color-green);
}

#header-nav {
	z-index: 5;
}
