nav {
	position: absolute;
	left: 0rem;
	top: -4rem;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: var(--color-blue);
	padding: 0rem 1rem;
	box-sizing: border-box;
	display: flex;
	transition: top 0.3s ease-in-out;
}

nav.open {
	top: 0rem;
}

#nav-logo-placeholder {
	width: 20rem;
}

#nav-auth {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#nav-auth button {
	background: white;
	display: flex;
	align-items: center;
	height: 32px;
	border-radius: 1rem;
	padding-right: 16px;
	border: 1px solid var(--color-border);
	gap: 8px;
}

#nav-auth button span {
	background-color: black;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-auth button span.active {
	background-color: var(--color-green);
}

nav ul {
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	gap: 4px;
}

nav ul li {
	height: 100%;
	min-width: 5rem;
}

nav ul li a {
	color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 1rem;
}

nav ul li.active,
nav ul li:hover {
	background: linear-gradient(rgba(255, 255, 255, 0.5), white);
}

nav ul li.active a,
nav ul li:hover a {
	color: var(--color-blue);
}
