#placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	width: 100%;
	height: 100%;
	gap: 2rem;
}

#placeholder-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#placeholder-text {
	max-width: 40rem;
	text-align: center;
}
