footer {
	position: fixed;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	box-sizing: border-box;
	background: linear-gradient(0deg, rgba(77, 95, 131, 0.3) 0%, rgba(77, 95, 131, 0) 120%);
	border-top: 1px solid var(--color-border);
	z-index: 1;
}

.footer-item {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 0rem 10px;
	font-size: 12px;
	color: white;
}

.footer-item * {
	color: white;
}

#footer-main {
	background: var(--color-blue);
	width: 20rem;
	display: flex;
	justify-content: space-around;
}

#footer-clients span {
	font-weight: 700;
	margin-right: 5px;
}

#footer-timestamp {
	display: flex;
	align-items: center;
}

#footer-timestamp span {
	margin-right: 8px;
	height: 8px;
	width: 8px;
	background: var(--color-green);
	border-radius: 50%;
	animation: blink 2s infinite;
}

#footer-clock span {
	font-size: 0.625rem;
	margin-left: 0.25rem;
}

#footer-github {
	margin-left: auto;
}

.footer-item a {
	font-weight: 700;
	text-decoration: underline;
}

.footer-item a:hover {
	color: var(--color-green);
}
