#auth-page {
	position: relative;
	padding: 0;
	justify-content: center;
	background-image: url("/wallpapers/auth.webp");
	background-repeat: no-repeat;
	background-position: center end;
	background-size: cover;
}

#auth-bg {
	position: absolute;
	inset: 0;
	background-image: linear-gradient(270deg, #040d2144, #040d21);
}

#auth-close {
	position: absolute;
	z-index: 1;
	top: 8rem;
	left: 8rem;
}

#auth-close use {
	color: white;
}

#auth-logins {
	display: flex;
	flex-flow: column;
	justify-content: center;
	z-index: 1;
	padding-left: 8rem;
	gap: 1rem;
}

#auth-logins > p {
	font-size: var(--font-size-normal);
	color: white;
	width: 20rem;
}

.auth-login-button {
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 10px;
	width: 240px;
	height: 50px;
}

.auth-login-button span {
	position: absolute;
	right: -32px;
}

.auth-login-button span use {
	color: var(--color-green);
}

#vatsim-login {
	background-image: linear-gradient(180deg, #38e092, var(--color-green));
	color: white;
	font-weight: 500;
}

#navigraph-login {
	background-image: linear-gradient(180deg, white, rgb(245, 245, 245));
	color: #2a2627;
	font-weight: 700;
}

#auth-title {
	font-size: 3rem;
	font-weight: var(--font-weight-bold);
	margin-bottom: 1rem;
	color: white;
}

#auth-logouts {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	gap: 5px;
	color: white;
}

.auth-logout-button {
	color: white;
}

.auth-logout-button:hover {
	color: var(--color-hover);
}

#delete-account {
	color: var(--color-red);
}
